@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}
.random {
    color: rgb(65, 179, 192);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    top: 0px;
    left: 0px;
    height: fit-content;
   /* width: fit-content;*/
    position:absolute;
    opacity:0;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 25px;
    white-space:nowrap;
    font-weight:bolder ;
    border: 2px rgba(233,233,51)    solid;
}  
.animation{
    animation-name:ShowData;   
    animation-duration: 5s;    
    animation-delay: 0s; 
    animation-iteration-count: 1;  
    animation-fill-mode:forwards;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.-delay{
    animation-delay: 2s; 
}
.line{
    opacity:0;
    color: rgba(255, 241, 0, 0.766);
}
body{
    overflow:auto;
    font-family: 'Noto Sans TC';
}
div{
    padding:0px;

}    
.container {
    position: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input-container {
    flex-direction: column;
    align-items: center;
}
.img-container {
    position: fixed;
 }
 .overbord{
    overflow: auto;
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .img-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
 }
 .img-text {
    font-size: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
 }
 .topbord{
    display: block;
 }
.columnbox{
    font-size: 15px;
    border-radius: 50px;
    text-align: center;
}
@keyframes ShowData
{
     from {opacity:0 ; }
     to { opacity:1;}
}
